<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
    <h1>This is the Demo page</h1>
    <p> This is a paragraph </p>
</div>


<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Superman</th>
      <th>Batman</th>
      <th>Flash</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Copyright</td>
      <td>DC</td>
      <td>DC</td>
      <td>DC</td>
    </tr>
    <tr>
      <td>Height</td>
      <td>6'3"</td>
      <td>6'2"</td>
      <td>5'11"</td>
    </tr>
    <tr>
      <td>ability</td>
      <td>Super strength</td>
      <td>Super intelligence</td>
      <td>Super speed</td>
    </tr>
  </tbody>
</table>

<hr>
<h2>Members of League of Justice</h2>
<ul>
     <li>Superman</li>
     <li>Flash</li>
     <li>Batman</li>
     <li>Wonder Woman</li>
     <li>Green Lantern</li>
     <li>Aquaman</li>
     <li>Cyborg</li>
</ul>
<hr>
<h2>Links to wikipedia</h2>
<div class="row">
  <div class="col">
    <li>Superman</li>
    <a href="https://en.wikipedia.org/wiki/Superman"><img src="/images/superman.jpeg" width="200"></a>
  </div>
  <div class="col">
    <li>Batman</li>
    <a href="https://en.wikipedia.org/wiki/Batman"><img src="/images/batman.jpeg" width="200"></a>
  </div>
  <div class="col">
    <li>Flash</li>
    <a href="https://en.wikipedia.org/wiki/Flash"><img src="/images/flash.jpeg" width="200"></a>
  </div>
</div>

<hr>

<form method="post" action="/showformdata" class="bg-info" >
  When were you born?
  <input type="date"
         name="birthday">
  <br>
  What is your favorite color?
  <input type="color"
         name="favoriteColor">
  <br>
  Who is your favorite super hero:
  <input type="text"
         name="favorite super hero"
         placeholder="your favorite super hero">
  <br>
  Have you ever seen any super hero movies?<br>
         yes <input type="radio" name="Movie" value="yes"><br>
         no  <input type="radio" name="Movie" value="no">
  <br>
  which one is your favorite movie?
  <select name="favorite movie">
    <option>Superman</option>
    <option>Wonder Woman</option>
    <option>Batman</option>
    <option>League of Justice</option>
    <option>None</option>
  </select>
  <br>
  Why is he/she your favorite super hero:
  <br>
  <textarea name="Why" rows="10" cols="40"></textarea>
  <br>

 Which heros do you like<br>
  Superman <input type="checkbox" name="interest" value="Superman"><br>
  Batman  <input type="checkbox" name="interest" value="Batman"><br>
  Wonder Woman <input type="checkbox" name="interest" value="Wonder Woman"><br>
  Flash
          <input type="checkbox" name="interest" value="lash"><br>
  Cyborg
          <input type="checkbox" name="interest" value="Cyborg"><br>
  <hr>
  <input type="submit" value="Register now">
</form>

<hr>

<%- include('bootfooter') -%>
