<%- include('bootheader') -%>

<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Ingredients for foods</h1>
    </div>
<form method="post" action="/showfoods">
    What kind of food do you want to know? (one word)
    <input type="text" name="food"><br>
    <input type="submit">
</form>


<%- include('bootfooter') -%>
