<%- include('bootheader') -%>

<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Dish Finder</h1>
    </div>
<form method="post" action="/showfoods">
    What kind of foods do you want? (one word)
    <input type="text" name="food"><br>
    <input type="submit">
</form>


<%- include('bootfooter') -%>
